header {
  // padding: 0px 12px;
  height: 56px;
  &.fixed-top{
    background-image: linear-gradient(to bottom, rgba(37, 37, 37, .3), rgba(16, 16, 16, .3))!important;
    width: 100%;

  }
  h5 {
    margin-left: 32px;
    font-weight: 600;
  }
}
