<div #completeDivClick class="inner__episodes mb-4">
        <div class="content_cd__episodes">
           <div class="d-flex flex-column ">
              <!-- Thumbnail -->
              <div class="ThumbWrap__show position-relative mr-2">
                 <div #bannerDivClick  class="thumb_cd__episodes position-relative ">
                    <img [attr.src]="contentObj.posterImage"  class="img-fluid" />
                    <!-- <img src="../../../assets/images/failed_to_load_medium-03.svg" width="" class="img-fluid" style="height: 100%; left: 0px; position: absolute;top: 0px;width: 100%;box-shadow: rgba(0, 0, 0, 0.72) 0px 2px 0px 0px;-o-object-fit: cover;object-fit: cover;" /> -->
                    <div class="progress" *ngIf="contentObj.progressTime || contentObj.progressTime > 0">
                      <div class="progress-bar" role="progressbar" [ngStyle]="{'width': contentObj.progressTime +'%'}" aria-valuenow="70" aria-valuemin="0"
                            aria-valuemax="100">
                      </div>
                   </div>
                    <div class="time_cd__episodes position-absolute">
                       <span *ngIf="isFullConsumptionScreen && activeContentIndex == artistContentIndex" class="mr-2">
                           <svg class="icon_custom icon-play">
                              <use xlink:href="#icon-play"></use>
                           </svg>
                       </span>
                       <span [innerHtml]="contentObj.duration | timeFormatter"></span>
                    </div>
                 </div>
              </div>
              <!-- /Thumbnail -->
     
              <div class="ttl_cd__episodes position-relative">
                 <h6 [innerHtml]="contentObj.title"></h6>
                 <p [innerHtml]="contentObj.viewCount | viewsNumberFormatter"></p>
                 <span class="ic_cd__episode" *ngIf="!isFullConsumptionScreen" (click)="quickViewToggle(true , contentObj.id)">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1"
                       x="0px" y="0px" viewBox="0 0 330 330" style="enable-background:new 0 0 330 330;" xml:space="preserve"
                       width="20px" height="20px">
                       <g>
                          <g>
                             <path
                                d="M165,0C74.019,0,0,74.02,0,165.001C0,255.982,74.019,330,165,330s165-74.018,165-164.999C330,74.02,255.981,0,165,0z    M165,300c-74.44,0-135-60.56-135-134.999C30,90.562,90.56,30,165,30s135,60.562,135,135.001C300,239.44,239.439,300,165,300z"
                                data-original="#000000" class="active-path" data-old_color="#000000" fill="#E0E0E0" />
                             <path
                                d="M164.998,70c-11.026,0-19.996,8.976-19.996,20.009c0,11.023,8.97,19.991,19.996,19.991   c11.026,0,19.996-8.968,19.996-19.991C184.994,78.976,176.024,70,164.998,70z"
                                data-original="#000000" class="active-path" data-old_color="#000000" fill="#E0E0E0" />
                             <path
                                d="M165,140c-8.284,0-15,6.716-15,15v90c0,8.284,6.716,15,15,15c8.284,0,15-6.716,15-15v-90C180,146.716,173.284,140,165,140z   "
                                data-original="#000000" class="active-path" data-old_color="#000000" fill="#E0E0E0" />
                          </g>
                       </g>
                    </svg>
                 </span>
              </div>
           </div>
        </div>
        <div class="meta_cd__episodes d-flex align-items-center justify-content-between p-2">
           <div class="artist_cd__episodes d-flex align-items-center">
              <img [attr.src]="contentObj.artist.image" class="img-fluid rounded-pill" alt="" width="24px"
                 height="24px" />
              <h6 class="ml-2 mb-0" [innerHtml]="contentObj.artist.name"></h6>
           </div>
        </div>
     </div>