.individual {
  .videos__individual {
    border-radius: 12px;
    overflow: hidden;
    z-index: 1;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    z-index: 2;
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    display: block;
    color: #fff;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    img {
      height: 100%;
      left: 0px;
      position: absolute;
      top: 0px;
      width: 100%;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
      box-shadow: rgba(0, 0, 0, 0.72) 0px 2px 0px 0px;
      object-fit: cover;
    }
    .video_footer {
      .time__squar {
        background-color: #121212e6;
        border-radius: 4px;
        opacity: 0.9;
        font-size: 12px;
        letter-spacing: 0.51px;
        font-weight: 600;
        color: #ffffff;
        right: 8px;
        bottom: 8px;
        // width: 35px;
        // height: 19px;
        text-align: center;
        padding: 2px 4px;
        line-height: normal;
      }
    }
  }

  .showThumb__individual {
    width: 60px;
    height: auto;
    border-radius: 8px;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  .showTitle__individual {
    color: #e0e0e0;

    h6 {
      margin-bottom: 3px;
      font-weight: 600;
      line-height: 28px;
    }

    p {
      font-size: 12px;
      margin-bottom: 0px;
    }
  }

  .explore__individual {
    color: #e0e0e0;
    // margin-top: 8px;

    button {
      // border: 3px solid transparent;
      // border-image: linear-gradient(180deg, #c60c0c, #0d9dc9) 1;
      // border-radius: 50%;;
      // color: #e0e0e0;

      // width: 25vw;
      height: 36px;
      border: double 2px transparent;
      border-radius: 80px !important;
      /* background-image: linear-gradient(#181818, #181818), radial-gradient(circle at center top, #c60c0c, #0d9dc9); */
      background: #121212;
      // background-origin: border-box;
      // background-clip: content-box, border-box;
      padding: 0px;
      color: #fff;
      align-items: center;
      font-weight: bold;
      font-size: 16px;
      justify-content: space-evenly;
      display: flex;
    }
  }
  .footer__individual {
    margin-top: 15px;
    span.gradient_btn {
      // width: calc(100vw - 75vw);
      // width: 26vw;
      // height: 40px;
      padding: 2px;
      button{
        // width: calc(100vw - 75vw);
        // width: 25vw;
        // height: 32px;
        // border: none!important;
        height: auto;
        padding: 2px 16px 2px 8px;
        fa-icon{
          font-size: 18px;
          font-weight: normal;
        }
        svg{
          margin-right: 8px;
        }
      }
    }      
  }

}

.video_player-dimensions.vjs-fluid {
  padding-top: 62.5%;
}
